/node_modules
/random_snippets
/resources/views/welcome.blade.phptmp
/resources/views/welcome.blade.phpbk
/resources/views/ajaxRequest.blade.php
/app/Http/Controllers/AjaxController.php
/app/Models/Addresses.phpbk
/database/migrations/2020_12_22_142353_create_addresses_table.phpbk
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
